{% extends 'base.html' %} {% block title %}Home{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <div class="container">
            <h4 class='display-4' align="center">Expenses</h4>
            <table class="table table-sm table-hover">
                <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Date</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for expense in user.expenses %}
                <tr>
                    <td> {{ expense.expense_name }}</td>
                    <td>{{ expense.expense_amount }} BGN</td>
                    <td>{{ expense.expense_date }} </td>
                    <td><a class="close" href="{{url_for('views.delete',id=expense.id)}}">&times;</a></td>

                </tr>

                {% endfor %}
                </tbody>
            </table>

            <form class="form-group" method="POST">
                <div class="row">
                    <div class="d-flex mb-3 justify-content-between">

                        <div class="input-group align-items-center justify-content-start mr-5 ml-5">
                            <div class="input-group-append">
                                <span class="input-group-text">Expense Name</span>

                            </div>
                            <input type="text" class="form-control" aria-label="Amount" id="expense_name"
                                   name="expense_name" placeholder="Enter expense name">
                        </div>

                        <div class="input-group align-items-center justify-content-center mr-5">

                            <div class="input-group-append">
                                <span class="input-group-text">Amount</span>
                            </div>
                            <input type="text" class="form-control" aria-label="Amount" id="expense_amount"
                                   name="expense_amount" placeholder="Enter amount">
                            <div class="input-group-append">
                                <span class="input-group-text">BGN</span>
                            </div>
                        </div>

                        <div class="input-group align-items-center justify-content-end mr-3">
                            <div class="input-group-append">
                                <span class="input-group-text">Date</span>

                            </div>
                            <input type="date" class="form-control" aria-label="Date"
                                   id="expense_date"
                                   name="expense_date" placeholder='Pick a date'>
                        </div>


                    </div>


                </div>

                <button type="submit" class="btn btn-success btn-lg d-flex mx-auto mb-5 ">Add</button>

            </form>

        </div>

    </div>

    <div class="card col-md-2 my-5 mh-100 h-50 d-inline-block shadow p-3 mb-5 bg-body rounded">

        <h2 class="card-header bd-title text-secondary" align="center">Total spending</h2>
        <div class="card-body" align="center">
            <h5 class="card-title display-4">{{ total }} <span class="text-danger">BGN</span></h5>

        </div>

    </div>

</div>


</div>

<script type="text/javascript">
document.getElementById("expense_date").addEventListener('focus', function(event) {
  event.target.showPicker();
});
</script>

{% endblock %}



