{% extends 'base.html' %} {% block title %}Login{% endblock %}

{% block content %}

<div class="d-flex align-items-center justify-content-center">
    <div class="container col-md-3 my-5 mh-100 h-50 d-inline-block shadow p-3 mb-5 bg-body rounded">
        <form method="POST">
            <h4 class="display-4" align="center">Login</h4>
            <div class="form-floating mb-3">
                <label for="email">Email address</label>
                <input type="email"
                       class="form-control"
                       id="email"
                       name="email"
                       placeholder="Enter email"
                >
            </div>

            <div class="form-floating mb-3">
                <label for="password">Password</label>
                <input type="password"
                       class="form-control"
                       id="password"
                       name="password"
                       placeholder="Enter password"
                >
            </div>
            <p class="d-flex align-items-center justify-content-center laead mb-1 mr-1">Don't have an account?<a href="/sign-up">  Create one</a></p>
            <br>
            <div class="d-flex align-items-center justify-content-center">
                <button type="submit" class="btn-lg btn-dark mb-3">Login</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}